<div class="container">
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="card">
        <div class="shadow">
        <img class="card-img-top" src="<%= profile.profile_image %>">
        <div class="card-body">
          <h5 class="card-title"><%= profile.name %></h5>
          <p class="card-text"><%= profile.content %></p>
          <a href="<%= profile_path(profile) %>" class="btn btn-primary active">詳細はこちら</a>
        </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @profiles %>
</div>



