<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @profile.name %></h1>
      
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= @profile.profile_image %>" alt="">
      </div>
          
      <p><%= @profile.content %></p>
      
      <li><%= @profile.position %></li>
      <li><%= @profile.team %></li>
      <li><%= @profile.birthday %></li>
      <li><%= @profile.height %></li>
      <li><%= @profile.weight %></li>
      
      <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to "このProfileを編集する", edit_profile_path(@profile), class: 'btn btn-default' %>
          <%= link_to "このProfileを削除する", profile_path(@profile), method: :delete, data: { confirm: '本当に削除して大丈夫ですか？' }, class: 'btn btn-danger' %>
        <% else %>
          <!--戻れる記述-->
        <% end %>
      <% else %>
        <!--戻れる記述-->
      <% end %>
      
      <div class="row">    
        <h1>コメント</h1>
      </div>
      <div class="row">
        <% if logged_in? %>
          <%= form_for ([@profile, @comment]) do |f| %>
            <div class="form-group">
              <%= f.text_field :content, class: 'form-control', rows: 5 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :profile_id, :value => @profile.id %>
            </div>
            
            <%= f.submit 'コメントする', class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <br>
          <%= link_to "ログインしてコメントを投稿！", login_path, class: 'btn btn-primary' %>
          <br>
        <% end %>
      </div>
      
      <ul>
        <% @comments.reverse.each do |comment| %>
          <li class="media">
            <div class="media-left">
              <img class="media-object img-rounded" src="<%= comment.user.image %>" width="70" height="50">
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= comment.user.name %></h5>
              <p><%= comment.content %></p>
              <div>
                <% if current_user == comment.user %>
                  <%= link_to "Delete", profile_comment_path(comment), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger btn-xs' %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
