<h3>NBA選手: <%= @profile.name %>のプロフィールの詳細</h3>
    
<h2><%= @profile.name %></h2>
    
<p><%= @profile.content %></p>
    
<h3><%= @profile.name %>に対するコメント一覧</h3>
<ul>
  <% @comments.each do |comment| %>
    <p><li><%= comment.user.name %> : <%= comment.content %></li></p>
  <% end %>
</ul>

<%= form_for ([@profile, @comment]) do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :profile_id, :value => @profile.id %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<br>
<%= link_to "このProfileを編集する", edit_profile_path(@profile), class: 'btn btn-default' %>
<%= link_to "このProfileを削除する", profile_path(@profile), method: :delete, data: { confirm: '本当に削除して大丈夫ですか？' }, class: 'btn btn-danger' %>


