<!DOCTYPE html>
<html>
  <head>
    <title>NbaProfile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to image_tag('NBA_logo.jpg', class: 'logo'), root_path %></h1>
    
    <%= render 'layouts/flash_messages' %>
    
    <%= yield %>
  </body>
</html>
